.teaser {
	// background-color: white;
	// box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.1);
}

.teaser--special {
	background-color: #ddffdd;
}

.text--box {
	padding: 0%;
}

.content {
	padding: 5%;
	height: auto;
}

.thema--underline--teaser {
	width: min-content;
}

.teaser--gross {
	background-color: white;
	font-size: 1rem;
}

.teaser--mittel {
	background-color: white;
	font-size: 0.8rem;
}

.teaser--klein {
	background-color: white;
	font-size: 0.6rem;
}
