.teaser {
	background-color: #ffdddd;
}

.teaser--special {
	background-color: #ddffdd;
}

.text--box {
	padding: 0%;
}

.content {
	padding: 3%;
	height: auto;
}

.thema--underline {
	width: min-content;
}
