.teaser {
	background-color: white;
	// box-shadow: 0 0.5em 2em 0 rgba(0, 0, 0, 0.1);
}

.teaser--special {
	background-color: #ddffdd;
}

.text--box {
	padding: 0%;
}

.content {
	padding: 3%;
	height: auto;
}

.thema--underline {
	width: min-content;
}
