nav {
	margin: 0;
	padding: 0;
	height: auto;

	ul {
		display: flex;
		justify-content: space-between;

		width: 100%;
		margin: 0;
		padding: 0;

		li {
			font-family: "Almendra", serif;
			font-weight: 700;
			list-style: none;
			display: inline-block;
			padding: 0.7em 0;

			font-size: 0.5rem * $font-scale--default * $font-scale--default;
			margin-top: 0;
			margin-bottom: 0;

			@include media(m) {
				font-size: 0.5rem * $font-scale--m * $font-scale--m;
			}

			@include media(l) {
				font-size: 0.5rem * $font-scale--l * $font-scale--l;
			}
		}
	}
}

.thema--underline {
	position: relative;
	display: block;
}

.linie {
	width: 100%;
	height: 10px;
	opacity: 0;
	border-bottom: 0.2em solid;
	transform: translateY(-10px) translateX(0px) rotate(-8deg);
	margin-top: 0.2em;
	position: absolute;
}

.thema--underline:hover .linie {
	color: #d63f37;
	opacity: 100;
}

.thema--underline.thema--active .linie {
	color: #9d0010;
	opacity: 100;
}

.thema--underline:hover .menupunkt {
	color: #d63f37;
}
.thema--underline.thema--active .menupunkt {
	color: #9d0010;
}
