.footer {
	background-color: white;
	width: 100vw;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.footer-container {
	width: 96%;
	max-width: 60rem;
	margin: 0 auto; // center
}

.zeile--1,
.zeile--2 {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 0.05em solid #8d8c81;
}

.zeile--2 {
	display: flex;
	justify-content: start;
	align-items: start;
}

.zeile--3 {
	padding-top: 1em;
	padding-bottom: 1em;
}

.social--media {
	width: 8em;
}

.zeile--2 a {
	color: #77766c;
}

.links--reihe--1 {
	margin: 0em 8em 0em 8em;
}

.fusszeilen--text {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 0.5em * $font-scale--default * $font-scale--default;
	line-height: 1.5em;
	letter-spacing: 0.02em;
	color: #77766c;

	@include media(m) {
		font-size: 0.5em * $font-scale--m;
	}

	@include media(l) {
		font-size: 0.5em * $font-scale--l;
	}
}

.fusszeilen--text a {
	line-height: 2.5em;
}
