.button {
	font-family: "Poppins", sans-serif;
	font-size: 0.6em * $font-scale--default * $font-scale--default;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	border: none;
	border-radius: 2%;
	color: white;
	background-color: #ff766e;
	padding: 0.5em 1em 0.5em 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 0.5em 0em 0.5em 0em;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.button:hover {
	background-color: #a1001c;
}
