nav {
	margin: 0;
	padding: 0;
	height: auto;

	ul {
		// align-items: flex-start;
		display: flex;
		justify-content: space-between;

		width: 100%;
		margin: 0;
		padding: 0;

		li {
			font-family: "Almendra", serif;
			font-weight: 700;
			list-style: none;
			display: inline-block;
			padding: 0.5em 0;
			// float: left;

			font-size: 0.5rem * $font-scale--default * $font-scale--default;
			margin-top: 0;
			margin-bottom: 0;

			@include media(m) {
				font-size: 0.5rem * $font-scale--m * $font-scale--m;
				// color: aqua;
			}

			@include media(l) {
				font-size: 0.5rem * $font-scale--l * $font-scale--l;
				// color: chartreuse;
			}
		}
	}
}

.thema--underline {
	position: relative;
	display: block;
}

.linie {
	width: 100%;
	height: 10px;
	opacity: 0;
	border-bottom: 0.2em solid #ff766e;
	transform: translateY(-10px) translateX(0px) rotate(-8deg);
	margin-top: 0;
	position: absolute;
}

.thema--underline:hover .linie {
	color: #ff766e;
	opacity: 100;
}

.thema--underline:hover .menupunkt {
	color: #ff766e;
}

a:focus .linie {
	color: #a1001c;
	button:focus {
		outline: none;
	}
}

.a:focus .menupunkt {
	color: #a1001c;
}

// a:focus {
// 	color: #a1001c;
// }

// --------------------------------- VAR 1 ---------------------------------

// .thema--underline .linie {
// 	width: 45px;
// 	height: 0.2em;
// 	background-color: black;
// 	-ms-transform: rotate(-10deg); /* IE 9 */
// 	transform: rotate(-10deg);
// 	margin-top: 0;
// }

// .thema--underline:hover .linie {
// 	background-color: #ff766e;
// }

// --------------------------------- VAR 2 ---------------------------------
// .home::after {
// 	.linie {
// 		width: 45px;
// 		height: 0.2em;
// 		background-color: black;
// 		-ms-transform: rotate(-10deg); /* IE 9 */
// 		transform: rotate(-10deg);
// 		margin-top: 0;
// 	}
// }

// .home:hover::after {
// 	.linie {
// 		background-color: #ff766e;
// 	}
// }

// --------------------------------- VAR 3 ---------------------------------
// ul li .thema--underline .linie {
// 	width: 45px;
// 	height: 0.2em;
// 	background-color: black;
// 	-ms-transform: rotate(-10deg); /* IE 9 */
// 	transform: rotate(-10deg);
// 	margin-top: 0;
// }

// ul li .thema--underline:hover .linie {
// 	background-color: #ff766e;
// }

// STEFAN
// .linie {
// 	width: 112px;
// 	height: 47px;
// 	border-bottom: 1px solid red;
// 	-webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
// 	position: absolute;
// 	/* top: -20px; */
// }
